body {
	background: transparent;
	background-image: url("../images/parthenon.png") bottom no-repeat fixed;
		
}

h1 {
	font-size: 50px;
	text-align: center;
	padding: 0px;
	font-color: #000000;

}


.jumbotron-fluid {
	padding: 10px;
	font-family: 'Caesar Dressing', cursive;
	background: #ffffff;
}

.img-fluid {

	max-width: 100%; 
	height: auto;
}

p {
	font-family: 'Open Sans Condensed', sans-serif;
	margin: 0px;
}


footer {
	position: absolute;
	bottom:0;
	
	
}